@using Lister.Application.DTOs.ToDoItems
@using Lister.Application.Extensions
@model List<ToDoDisplayDto>

@if (!Model.Any())
{
    <p>No Items are available</p>
}
else
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Due Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            <select class="form-select" asp-for="@item.State" asp-items="Html.GetEnumSelectList<Library.Enums.ItemState>()" onchange="updateState(@item.Id)"></select>
                        </td>
                        <td>@item.DueDate.ToDateString()</td>
                        <td><Button type="button" onclick="deleteToDo(@item.Id)" class="btn btn-danger">Delete</Button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}