@using Lister.Application.DTOs.ToDoItems
@using Lister.Application.Extensions
@model List<ToDoDisplayDto>

@if (!Model.Any())
{
    <p>No Items are available</p>
}
else
{
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-page="/Items/Detail" asp-route-id="@item.Id">
                                @item.Title
                            </a>
                        </td>
                        <td>@item.Description</td>
                        <td>@item.DueDate.ToDateString()</td>
                        <td>
                            <select id="select_@item.Id" class="form-select" asp-for="@item.State"
                                asp-items="Html.GetEnumSelectList<Library.Enums.ItemState>()"
                                onchange="updateState(@item.Id)"></select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}