@page "{id:int}"
@model MyApp.Namespace.ListItemsModel
@using Lister.Application.Extensions

@{
    ViewData["Title"] = $"{Model.SelectedList.Title}";
}

<h1>@Model.SelectedList.Title</h1>

<div>
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Due Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in @Model.SelectedList.ToDoItems)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            <select id="select_@item.Id" class="form-select" asp-for="@item.State" asp-items="Html.GetEnumSelectList<Library.Enums.ItemState>()" onchange="updateState(@item.Id)"></select>
                        </td>
                        <td>@item.DueDate.ToDateString()</td>
                        <td><Button type="button" onclick="deleteToDo(@item.Id)" class="btn btn-danger">Delete</Button></td>
                    </tr>
                }
            </tbody>
        </table>
</div>
